@charset "UTF-8";

:root {
    --menu-cor: #303132;
    --menu-cor-hover: #686c6e;
    --background-titulo: #306487;
    --texto-menu: #FFFFFF;
    --background-principal: #D5D0D0;
}



/* Configurações padrão */
* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

body {
    width: 100vw;
    background-color: white;
}


header {
    width: auto;

    text-align: center;
    background-color: var(--menu-cor);
}


/* Menu */
/* Botao menu */
#botao_menu {
    display: inline;
    height: 66px;
    width: 66px;

    background-image: url(images/menu.png);
    background-repeat: no-repeat;
    background-color: var(--menu-cor);

    border: none;
    border-radius: 10px;
}

#botao_menu:hover {
    background-color: var(--menu-cor-hover);
}


/* Links Menu */
#menu {
    display: none;
}


header > nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--menu-cor);
}

header > nav > ul {
    margin: 0;

    list-style: none;
}

header > nav > ul > li {
    padding: 10px 32px;

    text-align: center;
    
}

header > nav > ul > li:hover {
    background-color: var(--menu-cor-hover);
}

header > nav > ul > li > a {
    color: var(--texto-menu);
    text-decoration: none;

    font-size: 32px;
}


/* Conteudo Principal */
main {
    margin: -4px 0;
    background-color: var(--background-principal);
}

main > section:first-of-type {
    padding-top: 0;
}

main > section > h2:first-of-type {
    margin-top: 0;
}

section {
    padding: 16px 0;
}

h2 {
    margin: 32px 0;
    padding: 16px 0;

    text-align: center;
      
    background-color: var(--background-titulo);
    color: var(--texto-menu);
}

p {
    margin: 20px 16px;
    text-align: justify;
    text-indent: 16px;
}

ul {
    list-style: none;
    margin: 16px;
    
}

/* Portfólio */
section.portfolio {
    text-align: center;
}

/* Formulário */
form > fieldset{
    border: none;
    text-align: center;
}

form > fieldset > p {
    display: flex;
    flex-direction: column;

    align-items: center;
}

form > fieldset > p > label {
    margin-bottom: 6px;
    text-indent: 0;
}

form > fieldset > p > input {
    width: 250px;
}

form > fieldset > button {
    display: inline;
}

/* Rodapé */
footer {
    height: 30px;
    background-color: var(--menu-cor);
}